body {
    background:silver;
}


.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%
}
.photo-main{
    display: flex;
    justify-content: space-evenly;
}
.photo-large{
    box-shadow: 0px 0px 5px 2px grey;
}
.left {
    background: white;
    /* padding-top: 30%;
    padding-bottom: 30%;*/
    padding-right: 2%;
    padding-left: 2%; 
    border: solid black 1px;
    margin-right: 1%;
    box-shadow: 0px 0px 5px 2px grey;
    /* width: 25px; */
}
.right {
    transform: rotate(180deg);
    background: white;
    /* padding-top: 30%;
    padding-bottom: 30%;*/
    padding-right: 2%;
    padding-left: 2%; 
    border: solid black 1px;
    margin-left: 1%;
    box-shadow: 0px 0px 5px 2px grey;
    /* width: 25px; */
}
.languages {
    position: static;
    display: flex;
    justify-content: flex-end;
}
.language-icon {
    width: 25px;
    padding: 2px;
}

.miniatures {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}

.mini {
    /* height: 20 px; */
    margin: 10px; 
    border: solid white 5px;
    box-shadow: 0px 0px 5px 2px grey;
}

#first {
    border: double white px;
}