body {
    background:silver;
}
.conteiner{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.left {
    background: white;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-right: 20px;
    padding-left: 20px;
    border: solid black 1px;
    margin-right: 5px;
    width: 25px;
}
.right {
    transform: rotate(180deg);
    background: white;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-right: 20px;
    padding-left: 20px;
    border: solid black 1px;
    margin-left: 5px;
    width: 25px;
}
.languages {
    display: flex;
    justify-content: flex-end;
}
.language-icon {
    width: 25px;
    padding: 2px;
}
